.active-header{
    .cube-tab-bar{
      height: 36px;
      line-height: 36px;

      .cube-tab{
        font-size: 16px;
        padding: 0;
      }
    }
}
.content{
  .tab{
    .cube-tab {
      flex: initial;
      padding: 7px 0;
      text-align: center;
      width: 47px;
      margin: 0 16px;
      font-size: 14px;
      color: #999;
    }
    .cube-tab_active{
      color: #333;
      position: relative;
    }
    .cube-tab_active:after{
      content: '';
      position: absolute;
      left: 8px;
      bottom: -3px;
      width: 30px;
      height: 5px;
      border-radius: 20px;
      background: #E89D43;
    }
    .cube-tab-bar-slider{
      display: none;
    }
  }
}
.cube-form-item{
  padding: 0 !important;
}
.border-bottom-1px::after{
  border-bottom: none;
}
.cube-upload-btn-def > i::before, .cube-upload-btn-def > i::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #E0E0E0 !important;
}
.cube-upload-file-def,.cube-upload-btn-def{
  width: 110px !important;
  height: 110px !important;
}
.cube-upload-file-def > .cubeic-wrong{
  top: -4px !important;
  color: #999 !important;
}
.btn-content{
  .cube-btn-primary{
    background: #E89D43 !important;
    border-radius: 5px !important;
    font-size: 18px !important;
  }
}
.input-content{
  background: #f5f5f5;
  .cube-input{
    border-radius: 30px;
    width: 80%;
    .cube-input-field{
      border-radius: 30px !important;
    }
  }
}
.cube-input::after{
  border: none;
}
